<div class="swiper-container2" style="width:100vw;height:100vh;display:inline-block;position:fixed">
  <div class="swiper-wrapper">
    <div class="swiper-slide">

      <div> <img class='bg' src='./images/prod-aur-bgsec1.jpg'>
        <div class="topLayer">
          <div class="aurIntro">
            <a [routerLink]="['/']" class="backHome"><img src="./images/arrowUp.png"> Back To <img style="margin-bottom:-0.4vh" src="./images/logoSmall.png"> </a>
            <div class="pTxt" [innerHTML]="auroraData.intro">

            </div>
          </div>
          <div class="devContent pTxt" [innerHTML]="auroraData.content">
          </div>
        </div>

      </div>
      <div> <img class='bg' src='./images/prod-aur-bgsec2.jpg'>
        <div class="topLayer">
          <div class="goals pTxt" [innerHTML]="auroraData.goals">
          </div>

        </div>

      </div>
      <div> <img class='bg' src='./images/prod-aur-bgsec3.jpg'>
        <div class="topLayer">
          <div class="pTxt whyAur" [innerHTML]="auroraData.why">
          </div>
        </div>

      </div>
      <div> <img class='bg' src='./images/prod-aur-bgsec4.jpg'>
        <div class="topLayer">
          <div class="pTxt provides" [innerHTML]="auroraData.provides">
          </div>
        </div>
      </div>
      <div> <img class='bg' src='./images/prod-aur-bgsec5.jpg'>
        <div class="topLayer">
          <div class="pTxt delivery" [innerHTML]="auroraData.delivery">

          </div>

        </div>

      </div>
      <div> <img class='bg' src='./images/prod-aur-bgsec6.jpg'>
        <div class="topLayer">
          <div class="pTxt cloud" [innerHTML]="auroraData.cloud">
          </div>

        </div>

      </div>
      <div> <img class='bg' src='./images/prod-aur-bgsec7.jpg'>
        <div class="topLayer"></div>

      </div>

      <div> <img class='bg' src='./images/prod-aur-bgsec8.jpg'>
        <div class="topLayer">
          <div class="pTxt assessments maxW" [innerHTML]="auroraData.assessments">
          </div>
        </div>
      </div>

      <div> <img class='bg' src='./images/prod-aur-bgsec9.jpg'>
        <div class="topLayer">

          <div class="pTxt assessments maxW" [innerHTML]="auroraData.quizzes">
          </div>
          <div class="pTxt quizzesImg maxW">
            <img src='./images/quizzes.png'>
          </div>
        </div>
      </div>

      <div> <img class='bg' src='./images/prod-aur-bgsec10.jpg'>
        <div class="topLayer">

          <div class="pTxt reports maxW" [innerHTML]="auroraData.reports">
          </div>
          <div class="pTxt reportsImg maxW">
            <img src='./images/reports.png'>
          </div>
        </div>
      </div>

      <div> <img class='bg' src='./images/prod-aur-bgsec11.jpg'>
        <div class="topLayer">
          <div class="pTxt parents assessments maxW" [innerHTML]="auroraData.parents">
          </div>
        </div>
      </div>

      <div> <img class='bg' src='./images/prod-aur-bgsec12.jpg'>
        <div class="topLayer">
          <div class="pTxt assessments students maxW" [innerHTML]="auroraData.students">
          </div>
        </div>
      </div>

      <div> <img class='bg' src='./images/prod-aur-bgsec13.jpg'>
        <div class="topLayer">
          <div class="pTxt assessments students maxW" [innerHTML]="auroraData.teachers">

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
