.swiper-slide {
  height: 100vh;
  width: 100vw;
  white-space: nowrap;
  display: inline-block;
  overflow-x: auto;
  overflow-y: hidden;
}

.swiper-slide>div {
  font-family: Roboto;
  display: inline-block;
  white-space: normal;
  height: calc(100%);
  overflow: hidden;
  display: inline-block;
  position: relative;
}

.swiper-slide>div:not(:first-child) {
  margin-left: -6px;
}

.swiper-slide>div img {
  /*height: 50%;*/
  /*width: 100%;*/
  object-fit: cover;
}

.swiper-slide>div .bg {
  /*position: absolute;*/
  height: 100vh;
  width: auto;
  /*z-index: -1;*/
}

.topLayer {
  top: 0px;
  right: 0px;
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
}

.middleAlign {
  display: table-cell;
  vertical-align: middle;
}

.pTxt {
  font-family: Roboto;
  color: #fff;
  white-space: normal;
  text-align: left;
  /*max-width: 93vw;*/
}

/deep/ .pTxt h1, .pTxt h1 {
  font-size: 4vh;
  font-weight: 900;
  margin-top: 6vh;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.pTxt p, .pTxt li, /deep/ .pTxt p, /deep/ .pTxt li {
  margin-top: 4vh;
  font-size: 2.6vh;
  /*font-weight: 300;*/
  font-family: Roboto;
  line-height: 4vh;
  letter-spacing: 1.5px;
}

/deep/ .pTxt ul, .pTxt ul {
  list-style: url(http://localhost:8080/images/list.png);
  font-size: 20px;
  padding-left: 3vh;
}

.bolder, /deep/ .bolder {
  font-weight: 900;
  font-size: 8vh !important;
}

.aurIntro, /deep/ .aurIntro {
  color: #fff;
  padding-top: 6vh;
  padding-left: 6vh;
  width: 80vh;
  float: left;
  max-width: 94vw;
  text-align: left;
}

.backHome {
  padding: 10px 15px;
  font-size: 23px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 300;
  width: auto;
  letter-spacing: 2px;
  display: inline-block;
  text-transform: uppercase;
}

.backHome:hover, .backHome {
  text-decoration: none;
}

.backHome img:first-child {
  transition: 0.6s;
}

.backHome:hover img:first-child {
  margin-bottom: 4px;
  transition: 0.6s;
}

.devContent {
  float: right;
  width: 41%;
}

.devContent p, /deep/ .devContent p {
  max-width: 94vw;
  margin-top: 27vh;
  max-width: 42vh;
}

.goals {
  max-width: 94vw;
  color: #000;
  padding-left: 10vh;
  /*padding-top: 10vh;*/
}

.goals ul, /deep/ .goals ul {
  list-style: url(http://localhost:8080/images/listblack.png);
}

.whyAur {
  width: 70vh;
  max-width: 94vw;
  padding-left: 6vh;
}

.whyAur ul, /deep/ .whyAur ul {
  margin-top: 20vh;
}

.provides {
  background-color: rgba(0, 0, 0, 0.78);
  padding: 4vh;
  float: left;
  margin-left: 30vh;
  margin-top: 25vh;
  max-width: 94vw;
}

.provides h1, /deep/ .provides h1 {
  margin-top: 2vh;
}

.delivery {
  padding-left: 6vh;
  padding-top: 4vh;
  max-width: 94vw;
}

.cloud {
  padding-left: 4vh;
  padding-right: 4vh;
  max-width: 94vw;
  padding-top: 46vh;
}

.assessments {
  width: 56vh;
  padding-left: 4vh;
  padding-top: 4vh;
  float: left;
}

.quizzesImg {
  float: right;
  width: 60vh;
  padding-right: 8vh;
  padding-top: 14vh;
}

.quizzesImg img, .reportsImg img {
  width: 100%;
}

.reports {
  padding-left: 35vh;
  padding-top: 15vh;
  float: left;
}

.reportsImg {
  float: right;
  width: 75vh;
  padding-right: 14vh;
  padding-top: 15vh;
}

.parents {
  width: 45vh;
  padding-left: 28vh;
}

.students {
  width: 45vh;
}

.maxW {
  max-width: 94vw;
}
