<h2>Powerfull Form</h2>

<form #userForm="ngForm" (ngSubmit)="DoIt(userForm.value)" style="margin:0 auto;width:600px;">
<div class="form-group">
<label for="name">Name</label>
<input type="text" id="name" #nameRef class="form-control" name="name" ngModel required>
{{nameRef.className}}
</div>
<div class="form-group">
<label for="name">Email</label>
<input type="text" id="email" class="form-control" name="email" ngModel required>
</div>
<div class="form-group">
<label for="name">Country</label>
<input type="text" id="country" class="form-control" name="country" ngModel>
</div>
<button [disabled]="!userForm.form.valid" type="submit" class="btn btn-primary">Submit</button>
</form>
<p *ngFor="let person of persons">{{person.txt}}<img [src]="person.img"></p>
