.swiper-slide {
  height: 100vh;
  width: 100vw;
  white-space: nowrap;
  display: inline-block;
  overflow-x: auto;
  overflow-y: hidden;
}

.swiper-slide>div {
  font-family: Roboto;
  display: inline-block;
  white-space: normal;
  height: calc(100%);
  overflow: hidden;
  display: inline-block;
  position: relative;
}

.swiper-slide>div:not(:first-child) {
  margin-left: -6px;
}

.swiper-slide>div img {
  /*height: 50%;*/
  /*width: 100%;*/
  object-fit: cover;
}

.swiper-slide>div .bg {
  /*position: absolute;*/
  height: 100vh;
  width: auto;
  /*z-index: -1;*/
}

.topLayer {
  top: 0px;
  right: 0px;
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
}

.middleAlign {
  display: table-cell;
  vertical-align: middle;
}

.pTxt {
  font-family: Roboto;
  color: #fff;
  white-space: normal;
  text-align: left;
  /*max-width: 93vw;*/
}

/deep/ .pTxt h1, .pTxt h1 {
  font-size: 4vh;
  font-weight: 900;
  margin-top: 6vh;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.pTxt p, .pTxt li, /deep/ .pTxt p, /deep/ .pTxt li {
  margin-top: 4vh;
  font-size: 2.6vh;
  /*font-weight: 300;*/
  font-family: Roboto;
  line-height: 4vh;
  letter-spacing: 1.5px;
}

/deep/ .pTxt ul, .pTxt ul {
  list-style: url(http://localhost:8080/images/list.png);
  font-size: 20px;
  padding-left: 3vh;
}

.bolder, /deep/ .bolder {
  font-weight: 900;
  font-size: 8vh !important;
}

.backHome {
  padding: 10px 15px;
  font-size: 23px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 300;
  width: auto;
  letter-spacing: 2px;
  display: inline-block;
}

.aurIntro, /deep/ .aurIntro {
  color: #fff;
  padding-top: 6vh;
  padding-left: 6vh;
  /*width:25%;*/
  float: left;
  text-align: left;
}

.backHome:hover, .backHome {
  text-decoration: none;
}

.backHome img:first-child {
  transition: 0.6s;
}

.backHome:hover img:first-child {
  margin-bottom: 4px;
  transition: 0.6s;
}

.eltazkara, .tazTitle, .tazTxt {
  float: left;
  height: 100vh;
}

.eltazkara img.taz {
  width: 120vh;
  display: block;
  margin-top: 16vh;
}

.tazTitle {
  padding: 0 8vh;
  padding-top: 65vh;
  margin: 2vh 0;
  height: 31vh;
  border-right: 1px solid rgba(255, 255, 255, 0.13);
}

/deep/ .tazTitle h1, /deep/ .tazTitle p {
  margin: 0px;
}

/deep/ .tazTxt h1 {
  margin-top: 15vh;
}

.tazTxt {
  max-width: 94vw;
  padding-left: 8vh;
  width: 75vh;
  margin: 0px;
}
