<div class="swiper-container2" style="width:100vw;height:100vh;display:inline-block;position:fixed">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div>
        <img class='bg' src='./images/prod-taz-bgsec1.jpg'>
        <div class="topLayer">
          <div class="aurIntro eltazkara">
            <a [routerLink]="['/']" class="backHome"><img src="./images/arrowUp.png"> Back To <img style="margin-bottom:-0.4vh" src="./images/logoSmall.png"></a>
            <img class="taz" src="./images/eltazkara.png">
          </div>
          <div class="tazTitle pTxt" [innerHTML]="eltazkaraData.title"></div>
          <div class="tazTxt pTxt" [innerHTML]="eltazkaraData.text"></div>
        </div>
      </div>
    </div>
  </div>
<!-- Add Pagination -->
<!-- <div class="swiper-pagination"></div> -->
</div>
