
<div class="fullPage">
<div class="fullPageInner">


    <div *ngFor="let div of divs">
    <h1 style="color:#fff;">{{div.txt}}</h1>
    <img [src]="div.img" />
      <div [innerHtml]="div.html"></div>
    </div>

</div>

</div>



<nav>
	<!-- <a [routerLink]="['/']">
    Home
  </a>
  |
	<a [routerLink]="['/about']">
    About{{myVar}}
  </a>

  |
	<a [routerLink]="['/contact']">
    Contact Us
  </a>
    |
	<a [routerLink]="['/say']">
    Me?
  </a> -->
</nav>

<main>
	<!-- <router-outlet></router-outlet> -->
</main>


<footer>

</footer>
