
<nav>
	<!-- <a [routerLink]="['/']">
    Home
  </a>
  |
	<a [routerLink]="['/about']">
    About{{myVar}}
  </a>

  |
	<a [routerLink]="['/contact']">
    Contact Us
  </a>
    |
	<a [routerLink]="['/say']">
    Me?
  </a> -->
</nav>

<main>
<router-outlet></router-outlet>
</main>
<footer>

</footer>
