.swiper-slide {
  height: 100vh;
  width: 100vw;
  white-space: nowrap;
  display: inline-block;
  overflow-x: auto;
  overflow-y: hidden;
}

.swiper-slide>div {
  font-family: Roboto;
  display: inline-block;
  white-space: normal;
  height: calc(100%);
  /*overflow: hidden;*/
  display: inline-block;
  position: relative;
}

.swiper-slide>div:not(:first-child) {
  margin-left: -6px;
}

.swiper-slide>div img {
  /*height: 50%;*/
  width: 100%;
  object-fit: cover;
}

.swiper-slide>div .bg {
  /*position: absolute;*/
  height: 100vh;
  width: auto;
  /*z-index: -1;*/
}

.secTxt {
  width: 58vh;
  max-width: 92vw;
  position: absolute;
  z-index: 9;
  top: 24vh;
  right: 8.5vh;
  font-family: Roboto;
  color: #fff;
  white-space: normal;
  text-align: left;
}

.secTxt h1 {
  font-size: 3.6vh;
  letter-spacing: 0.50vh;
}

.secTxt p {
  font-size: 2vh;
}

.swiper-slide .logoNav {
  position: absolute;
  padding: 6vh;
  padding-left: 4vh;
  top: 0px;
  left: 0px;
  color: #353a3c;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 500;
}

.swiper-slide .logoNav>img {
  height: 6vh;
  width: auto;
}

.swiper-slide .logoNav ul {
  font-size: 3vh;
  padding: 0px;
  text-transform: uppercase;
  list-style: none;
  margin-top: 4.6vh;
  line-height: 6.6vh;
}

.swiper-slide .logoNav ul li {
  position: relative;
  display: table;
}

.swiper-slide .logoNav ul a {
  color: #353a3c;
  position: relative;
  ;
  text-decoration: none;
  transition: 0s;
}

.swiper-slide .logoNav ul li>img {
  position: absolute;
  cursor: default;
  width: 60vh;
  right: -62vh;
  top: -27.8vh;
}

.swiper-slide .logoNav ul li.do>img {
  top: -35.2vh;
}

.swiper-slide .logoNav ul li.done>img {
  top: -50.6vh;
}

.swiper-slide .logoNav ul li.philo>img {
  top: 2.5vh;
  width: 46vh;
  left: 26vh;
  z-index: 9;
}

.swiper-slide .logoNav ul li>img.active {
  opacity: 0;
  z-index: 999;
  transition: 1s;
}

.swiper-slide .logoNav ul li>img.activated {
  opacity: 1;
  transition: 1s;
}

.swiper-slide .logoNav ul a.animateAnchor {
  color: #eb6253;
}

.swiper-slide .logoNav ul a:hover {
  text-decoration: none;
}

.sec3 {
  padding: 30px;
  width: 64vh;
  margin-left: 5vh;
  max-width: 95vw;
  margin-top: 22vh;
}
.sec3 p {
  margin-top: 0px !important;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 2.2vh;
  color: #caa9a2;
}
p b{
  font-weight: 400;
}
.topLayer {
  top: 0px;
  right: 0px;
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
}

.middleAlign {
  display: table-cell;
  vertical-align: middle;
}

.pTxt {
  font-family: Roboto;
  white-space: normal;
  text-align: left;
  color: #fff;
}

.pTxt h1 {
  margin-top: 0;
}

.pTxt p {
  margin-top: 2vh;
}

.sec3Edit {
  width: calc( 100% - 100px);
}

.mvp {
  margin-left: -20vh;
  /*margin-top: 40px;
  float: left;
  width: 66vh;
  max-width: 92vw;*/
}

.mvp p {
  /*font-size: 1.7vh;*/
  color: #7591ae;
}

.mvp h1 {
  position: relative;
  color: #394f7b;
}

.mvp h1 img {
  width: 110px;
  height: auto;
  position: absolute;
  left: -140px;
  top: 3.4vh;
}

.bolder {
  font-weight: 900;
  font-size: 6.5vh !important;
}

.incubate {
  position: absolute;
  /*width: 80vh;
  max-width: 92vh;*/
  /* margin-top: 32vh; */
  /* margin-right: 4vh; */
  margin: 0;
  right: 5vh;
  bottom: 0;
}
.incubate p{
  color: #fff;
}
.sec5Edit {}

.aurora {
  width: 50%;
  float: right;
  margin-top: 40px;
  margin-right: 40px;
  max-width: 92vw;
}

.aurora img {
  margin-top: 20px;
}

.aurora a, .tapdeal a {
  display: inline-block;
  padding: 15px 0px;
  width: 55%;
  border: 1px solid #fff;
  font-size: 2.8vh;
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  margin-top: 2vh;
  margin-left: 23%;
}

.tapdeal a {
  color: #ce3235;
  margin-top: 2vh;
  margin-left: 0px;
  border: 1px solid #ce3235;
}

.tapdeal {
  color: #ce3235;
  text-align: center;
  width: 54vh;
  float: right;
  margin-right: 4vh;
  margin-top: 35vh;
  max-width: 92vw;
}

.tazkarah a {
  display: inline-block;
  padding: 15px 0px;
  width: 55%;
  border: 1px solid #fff;
  font-size: 2.8vh;
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin-left: 23%;
  margin-top: 2vh;
}

.tazkarah {
  width: 60vh;
  padding: 25px;
  max-width: 92vw;
  float: left;
  margin-left: 4vh;
  margin-top: 35vh;
  background-color: #13235f;
}

.tazkarah a:hover, .aurora a:hover {
  background-color: #fff;
  color: #000;
}

.tazkarah a:hover {
  color: #13235f;
}

.tapdeal a:hover {
  background-color: #ce3235;
  color: #fff;
}

a {
  transition: 0.6s;
}

.backHome {
  padding: 10px 15px;
  font-size: 23px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 300;
  width: auto;
  letter-spacing: 2px;
  display: inline-block;
}

.backHome:hover, .backHome {
  text-decoration: none;
}

.swiper-slide .backHome img {
  width: auto;
}

.backHome img:first-child {
  transition: 0.6s;
}

.backHome:hover img:first-child {
  margin-bottom: 4px;
  transition: 0.6s;
}

.ceoIntro {
  width: 50vh;
  padding-top: 50vh;
  padding-left: 3vh;
  padding-right: 4vh;
  float: left;
}

.ceoIntro h1 {
  margin: 0px;
  font-size: 5vh;
}

.ceoIntro a {
  margin-top: 3vh;
  white-space: nowrap;
  ;
}

.journey {
  float: left;
  width: 50vh;
  padding-top: 5vh;
  padding-left: 5vh;
}

.journey h2 {
  font-size: 4vh;
}

.journey div {
  margin-top: 4vh;
  height: 10vh;
  width: 100%;
}

.journey div img {
  width: 10vh;
  height: 10vh;
  object-fit: cover;
  float: left;
  margin-right: 2vh;
}

.journey div p {
  margin: 0px;
  white-space: nowrap;
}

.journey div p:first-child {
  text-transform: uppercase;
}

.journey .position {
  margin: 0px;
}

.swiper-slide .journey .appenzaLogo {
  width: 20vh;
}

.maxW {
  max-width: 94vw;
}

p {
  font-size: 2.4vh;
  letter-spacing: 0.16vh;
  line-height: 4vh;
  font-weight: 300;
  font-family: Roboto;
}

h1 {
  font-size: 4vh;
  text-transform: uppercase;
  letter-spacing: 0.25vh;
  font-weight: 900;
  font-family: Roboto;
}

h2 {
  margin: 0px;
  font-weight: 500;
  font-family: Roboto;
  font-size: 3.6vh;
  letter-spacing: 0.2vh;
}


/*--- Keys Section START ---*/
.keyTxtWrapLeft{
  position: absolute;
  bottom: -13vh;
  left: 3vh;
}
.keyTxtUnit{
  float: left;
  max-width: 50vh;
  margin-top: 26vh;
}
.keyTxtUnit h1{
  letter-spacing: 0.6vh;
  font-size: 3.6vh;
  line-height: 7vh;
  margin: 0;
}
.keyTxtUnit p{
  font-size: 2vh;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  line-height: 3.3vh;
}
.keyTxtUnit p span{
  display: block;
}
.keyTxtUnit p .coloredTxt{
  color: #eb6253;
  display: inline;
}
.bigNum{
  float: left;
  max-width: 26vh;
}
.bigNum h1{
  font-size: 50vh;
}
.bigNum h1,
.midNum h1{
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.midNum{
  float: left;
  max-width: 11vh;
}
.midNum h1{
  font-size: 18vh;
  color: #ffd9d0;
}
.keyTxtWrapRight{
  position: absolute;
  right: 6vh;
  top: 13vh;
}
.keyTxtWrapRight:last-of-type{
  top: 55vh;
  right: 7vh;
}
.keyTxtWrapRight span{
  display: block;
}
.keyTxtWrapRight .keyTxtUnit{
  margin-top: 3vh;
  max-width: 40vh;
  margin-left: 2vh;
}
.keyTxtWrapRight .keyTxtUnit h1{
  font-size: 2.5vh;
  letter-spacing: 0.2vh;
  line-height: 3vh;
  margin-bottom: 1.5vh;
  max-width: 40vh;
}
.keyTxtWrapRight .keyTxtUnit p{
  color: #ffd9d0;
  font-weight: 400;
  line-height: 2.8vh;
}
/*--- Keys Section END ---*/

/*--- Do Section START ---*/
.doLinkTitleImg{
  position: absolute;
  left: -1.5vh;
  top: 1.5vh;
}
.swiper-slide>div .doLinkTitleImg img{
  height: 20vh;
}
.doLinkTitle{
  position: absolute;
  left: -29vh;
  top: 40.5vh;
  transform: rotate(270deg);
}
.doLinkTitle h1{
  color: #d56752;
  font-size: 7vh;
}


/*--- Do Section END ---*/
@media screen and ( min-height: 800px) {

}
@media screen and ( max-height: 414px) {
  p {
    font-size: 11px !important;
    line-height: 18px !important;
    letter-spacing: 1.2px;
  }
  .backHome {
    padding: 6px 10px;
    font-size: 16px;
  }
  .swiper-slide .backHome img {
    height: 12px;
  }
}
