<div class="swiper-container" style="width:100vw;height:100vh;display:inline-block;position:fixed;">
  <div class="swiper-wrapper">
    <div class="swiper-slide firstSlide">
      <div class="appenza-button-next" style="position:absolute;bottom:0px; left:0px;z-index:9999;"></div>
      <div>
        <img class='bg' src='./images/bgsec1.jpg'>
        <div class='logoNav'>
          <img src='./images/logo.png'>
          <ul>
            <li class='philo'><a>the PHILOSOPHY</a><img src='./images/philoLink.png'></li>
            <li><a href="#story" class="mainQuickLinks">the story</a><img src='./images/storyLink.png'><img class='active' src='./images/storyLinkActive.png'></li>
            <li class='do'><a href='#do' class="mainQuickLinks">the do</a><img src='./images/doLink.png'><img class='active' src='./images/doLinkActive.png'></li>
            <li class='done'><a href='#done' class="mainQuickLinks">the done</a><img src='./images/doneLink.png'><img class='active' src='./images/doneLinkActive.png'></li>
          </ul>
        </div>
        <div class='secTxt sec1'>
          <h1>THE PHILOSOPHY</h1>
          <p>appenza is a software and web development organization that prides itself on offering cutting edge solutions that are both efficient and offer true value to our clients. eTurn worked with more than 100 clients from Egypt, United Kingdom, Germany,
            United Arab of Emirates, Qatar, Montenegro and Switzerland. eTurn is your ultimate destination for any of your Software</p>
        </div>
      </div>
      <div id="story">
        <img class='bg' src='./images/bgsec2.jpg'>
        <div class="topLayer">
          <div class="pTxt keyTxtWrapLeft">
            <div class="bigNum">
              <h1>1</h1>
            </div>
            <div class='pTxt keyTxtUnit'>
              <h1>We feel the beauty</h1>
              <p><span>Our Mother nature is so</span>
                <span>beautiful teaching us to</span>
                <span class="coloredTxt">feel the beauty</span> before every step</p>
            </div>
          </div>
          <div class="pTxt keyTxtWrapRight">
            <div class="midNum">
              <h1>2</h1>
            </div>
            <div class='pTxt keyTxtUnit'>
              <h1>Experiance engineering</h1>
              <p>
                <span>humans are unique mix of</span>
                <span>simplicity and complexity,</span>
                <span>offering them the best</span>
                <span>experiance is what we aim to</span>
              </p>
            </div>
          </div>
          <div class="pTxt keyTxtWrapRight">
            <div class="midNum">
              <h1>3</h1>
            </div>
            <div class='pTxt keyTxtUnit'>
              <h1>if we going to do,<span>do it right</span></h1>
              <p>
                <span>no matter how complicated</span>
                <span>nor sophisticated, It will be</span>
                <span>done in the best quality</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="" id="do">
        <div class="doLinkTitleImg">
          <img class='bg doLinkTitleImg' src='./images/doLinkTitle.png'>
        </div>
        <img class='bg' src='./images/bgsec3.jpg'>
        <div class="topLayer sec3Edit">
          <div class="doLinkTitle">
            <h1>agile mindset</h1>
          </div>
          <div class='pTxt sec3'>
            <p>We work with Agile methodologies. Our process is influenced by Scrum, Kanban and XP, taking the core principles and leaving behind some of the more prescriptive doctrine so that we are able to tailor our process for the project and client
              we’re working with.</p>
            <p>Our processes are designed to make our team more efficient, more focused, and more consistent. The more efficient we are the faster we get results; the more focus we have the better the code; and the more consistent we become the more predictable
              our output and accurate our planning.</p>
          </div>
        </div>
      </div>
      <div>
        <img class='bg' src='./images/bg2sec3.jpg'>
        <div class="topLayer">
          <div class="mvp pTxt sec3">
            <h1 class="bolder">MVP<img src="./images/mvp.png"></h1>
            <p>We work with <b>Agile methodologies</b>. Our process is influenced by Scrum, Kanban and XP, taking the core principles and leaving behind some of the more prescriptive doctrine so that we are able to tailor our process for the project and
              client we’re working with.</p>
          </div>
        </div>
        <div class="incubate pTxt sec3">
          <h1 class="bolder">WE INCUBATE</h1>
          <p>We work with <b>Agile methodologies</b>. Our process is influenced by Scrum, Kanban and XP, taking the core principles and leaving behind some of</p>
        </div>
      </div>
      <!-- <div>
        <img class='bg' src='./images/bgsec4.jpg'>
        <div class="topLayer">
          <div class="mvp pTxt">
            <h1 class="bolder">MVP<img src="./images/mvp.png"></h1>
            <p>We work with <b>Agile methodologies</b>. Our process is influenced by Scrum, Kanban and XP, taking the core principles and leaving behind some of the more prescriptive doctrine so that we are able to tailor our process for the project and
              client we’re working with.</p>
            <p>Our processes are designed to make our team more efficient, more focused, and more consistent. The more efficient we are the faster we get results; the more focus we have the better the code.</p>
          </div>
          <div class="incubate pTxt">
            <h1 class="bolder">WE<br />INCUBATE</h1>
            <p>We work with <b>Agile methodologies</b>. Our process is influenced by Scrum, Kanban and XP, taking the core principles and leaving behind some of the more prescriptive doctrine so that we are able to tailor our process for the project and
              client we’re working with.</p>
          </div>
        </div>
      </div> -->
      <div id="done">
        <img class='bg' src='./images/bgsec5.jpg'>
        <div class="topLayer sec5Edit">
          <div class="pTxt aurora">
            <h1 class="bolder">AURORA</h1>
            <p>We work with <b>Agile methodologies</b>. Our process is influenced by Scrum, Kanban and XP, taking the core principles and leaving behind some of the more prescriptive doctrine.</p>
            <img src="./images/aurora.png">
            <a [routerLink]="['/aurora']">KNOW MORE</a>
          </div>
        </div>
      </div>
      <div><img class='bg' src='./images/bgsec6.jpg'>
        <div class="topLayer">
          <div class="pTxt tapdeal">
            <h1 class="bolder">TAPDEAL</h1>
            <p>TapDeal is an innovative online marketplace network based on exchanging products within the same value range. TapDeal is dressed in a very simple and attractive interface.</p>
            <a href>KNOW MORE</a>
          </div>
        </div>
      </div>
      <div><img class='bg' src='./images/bgsec7.jpg'>
        <div class="topLayer">
          <div class="pTxt tazkarah">
            <h1 class="bolder">ELTAZKARA</h1>
            <p>TapDeal is an innovative online marketplace network based on exchanging products within the same value range. TapDeal is dressed in a very simple and attractive interface.</p>
            <a [routerLink]="['/eltazkara']">KNOW MORE</a>
          </div>
        </div>
      </div>




    </div>


    <div class="swiper-slide">
      <div>
        <img class='bg' src='./images/ceo-bgsec1.jpg'>
        <div class="topLayer">
          <div class="ceoIntro pTxt">
            <h1>Ahmed Essmat</h1>
            <h2>appenza ceo</h2>
            <p>Appenza is alive after a long journey for the FOUNDERS full of experiances, challanges, ups and downs.</p>
            <a href class="appenza-button-prev backHome"><img src="./images/arrowUp.png"> Back To <img style="margin-bottom:-0.4vh" src="./images/logoSmall.png"> </a>
          </div>
          <div class="journey pTxt maxW">
            <h2>2003</h2>
            <h1>Noon Technologies</h1>
            <p>On 2003 founded with my partners (Canada, California)</p>
            <div>
              <img src="./images/avatar.jpg" alt="">
              <p>Ahmed Banona</p>
              <p>Co-founder at Noon Tech</p>
            </div>
            <div>
              <img src="./images/avatar.jpg" alt="">
              <p>Ahmed Banona</p>
              <p>Co-founder at Noon Tech</p>
            </div>
            <div>
              <img src="./images/avatar.jpg" alt="">
              <p>Ahmed Banona</p>
              <p>Co-founder at Noon Tech</p>
            </div>

          </div>
          <div class="journey pTxt maxW" style="padding-left:14vh;">
            <h2>2009</h2>
            <h1>Noon Technologies<br />Restarted</h1>
            <p>On 2009 resumed back to develop e2L iPad app connecting students with Moodle learning gateways, giving the ability of online/offline communications and collaboration on materials, assignments, and discussions.</p>
          </div>
          <div class="journey pTxt maxW" style="padding-left:25vh;">
            <h2>2011</h2>
            <h1>Swipe'nTap </h1>
            <p class='position'>Co-Founder and CTO</p>
            <p>Swipe'nTap offers innovative ordering solutions for the hospitality industry. Our products include a light-weight POS, waiter tablets, digital menus, big data analytics and more.</p>
            <p>Funded by TDF, Vodafone Egypt as well as highly respected angle investors, SnT has been in R&D mode since 2011.</p>
            <p>In 2014, Swipe'nTap merged with el7esab, achieving one of the very few tech start-up mergers in Egypt.</p>
          </div>
        </div>


      </div>
      <div>
        <img class='bg' src='./images/ceo-bgsec2.jpg'>


        <div class="topLayer">

          <div class="journey pTxt maxW" style="padding-left:68vh;">
            <div>
              <img src="./images/avatar.jpg" alt="">
              <p>Ahmed Banona</p>
              <p>Co-founder at Noon Tech</p>
            </div>
            <div>
              <img src="./images/avatar.jpg" alt="">
              <p>Ahmed Banona</p>
              <p>Co-founder at Noon Tech</p>
            </div>
            <div>
              <img src="./images/avatar.jpg" alt="">
              <p>Ahmed Banona</p>
              <p>Co-founder at Noon Tech</p>
            </div>
            <div>
              <img src="./images/avatar.jpg" alt="">
              <p>Ahmed Banona</p>
              <p>Co-founder at Noon Tech</p>
            </div>
            <div>
              <img src="./images/avatar.jpg" alt="">
              <p>Ahmed Banona</p>
              <p>Co-founder at Noon Tech</p>
            </div>
          </div>
          <div class="journey pTxt maxW" style="padding-left:14vh;">
            <h2>2015</h2>
            <h1><img class='appenzaLogo' src="./images/logoMedium.png" alt=""></h1>
            <p class='position'>Founder and CEO </p>
            <p>We aim at improvising our client businesses by developing innovative mobile applications and solutions that boost productivity, reduces operational costs, increases ROI and enhances competitiveness.</p>
          </div>
        </div>


      </div>
    </div>



  </div>

</div>
<!-- Add Pagination -->
<!-- <div class="swiper-pagination"></div> -->
